<div class="text-white app-contact">
  <br />
  <p><strong>Contact</strong></p>
  <br />
  <p>Email: thedatadb (at) gmail.com</p>
  <br />
  <p><strong>Copyright Notice</strong></p>
  <br />
  <p>
    The CocktailDB encourages all users to upload content that they create such
    as drinks photo's
  </p>
  <p>
    As an open, user-generated site, content may slip through our moderation
    process.
  </p>
  <p>
    If you claim copyright on any images on the site please send us an email and
    valid requests will remove within 48hrs.
  </p>
  <p>Alternatively we are happy to credit and link images if prefered.</p>
  <br />
  <p>Related sites:</p>
  <img src="http://www.theaudiodb.com/images/logo.png" alt="" />
  <img src="https://www.thesportsdb.com/images/logo.png" alt="" />
  <img src="https://www.themealdb.com/images/logo.png" alt="" />
  <br />
</div>
