<div class="container app-about">
  <br />
  <p>About</p>
  <br />
  <p>
    TheCocktailDB was built in 2015 to provide a free data source api for drinks
    online in the hope that developers would build applications and cool
    projects ontop of it. TheCocktailDB originated on the
    <a href="https://forum.kodi.tv/showthread.php?tid=235298">Kodi forums</a> as
    a way to browse cocktail recipes on your TV.
  </p>
  <br />
  <img src="https://www.thecocktaildb.com/images/kodi_addon.jpg" alt="" />
  <br />
  <p>There are also some supporting Apps</p>
  <p>
    JavaScript
    <a href="https://www.npmjs.com/package/cocktail-api-search"
      >https://www.npmjs.com/package/cocktail-api-search</a
    >
  </p>
  <br />
  <p>
    Many developers have since contributed to the project and built apps on top
    of it. You can see some of them listed below:
  </p>
  <br />
  <div class="d-flex justify-content-center">
    <img src="https://www.thecocktaildb.com/images/ddg.png" alt="" />
    <img src="https://www.thecocktaildb.com/images/kodi_logo.png" alt="" />
  </div>
  <br />
  <p>
    TheCocktailDB is also used by universities to tech web design and
    programming as it has an easy to use API and cool content.
  </p>
  <br />
  <img src="https://www.thecocktaildb.com/images/uni.png" alt="" />
  <br />
  <p>There are also some chatbots available that use our API:</p>
  <p>
    Discord
    <a href="https://github.com/Richardson-Media-House/Kirbi/"
      >https://github.com/Richardson-Media-House/Kirbi/</a
    >
  </p>
  <br />
  <p>
    And used in Apps for
    <a
      href="https://play.google.com/store/apps/details?id=com.mytech.cocktail2go"
      >Android</a
    >
    and
    <a
      href="https://apps.apple.com/us/app/cocktail-recipes-to-go/id1150892210?l=de&ls=1"
      >iPhone!</a
    >
  </p>
  <br />
  <img src="https://www.thecocktaildb.com/images/iphone1.jpeg" alt="" />
  <br />
  <p>There is also an app created for the pebble smart watch!</p>
  <br />
  <img src="https://www.thecocktaildb.com/images/pebble.jpg" alt="" />
  <br /><br />
</div>
