<div class="container app-main">
  <br />
  <h3>Random Drinks</h3>
  <br />
  <div *ngIf="randomList" class="d-flex flex-wrap justify-content-around">
    <!-- <ul  class="d-flex flex-wrap"> -->
    <app-coctail *ngFor="let item of randomList" [listCoctail]="item">
    </app-coctail>
    <!-- </ul> -->
  </div>
  <hr class="bg-white" />
  <div class="nav-app">
    <nav class="myborder">
      <h4>Filter:</h4>
      <br />
      <h6 (click)="hide('ingredient')" class="btn btn-outline-light">
        Ingradient
      </h6>
      <form
        #myForm="ngForm"
        *ngIf="ingredient"
        (change)="formCoctail($event.target.value)"
        class="d-flex flex-column"
      >
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="Vodka"
          />
          <label class="form-check-label" for="inlineRadio1">Vodka</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="Gin"
          />
          <label class="form-check-label" for="inlineRadio2">Gin</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio3"
            value="Rum"
          />
          <label class="form-check-label" for="inlineRadio3">Rum</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio4"
            value="Tequila"
          />
          <label class="form-check-label" for="inlineRadio4">Tequila</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio5"
            value="Scotch"
          />
          <label class="form-check-label" for="inlineRadio5">Scotch</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio6"
            value="Amaretto"
          />
          <label class="form-check-label" for="inlineRadio6">Amaretto</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio7"
            value="Bourbon"
          />
          <label class="form-check-label" for="inlineRadio7">Bourbon</label>
        </div>
      </form>
      <h6 (click)="hide('alcohol')" class="btn btn-outline-light">Alcohol</h6>
      <form
        *ngIf="alcohol"
        (change)="formCoctailAlcohol($event.target.value)"
        class="d-flex flex-column"
      >
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="Alcoholic"
          />
          <label class="form-check-label" for="inlineRadio1">Alcoholic</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="Non_Alcoholic"
          />
          <label class="form-check-label" for="inlineRadio2"
            >Non Alcoholic</label
          >
        </div>
      </form>
      <h6 (click)="hide('glass')" class="btn btn-outline-light">Glasses</h6>

      <div>
        <form
          *ngIf="glass"
          (change)="formCoctailglasses($event.target.value)"
          class="d-flex flex-column"
        >
          <app-glass
            *ngFor="let item of listGlas"
            [listglass]="item"
            class="d-flex flex-column"
          >
          </app-glass>
        </form>
      </div>
    </nav>

    <div>
      <h4 *ngIf="listForm.length !== 0" class="text-white center">
        Done: {{ listForm.length }} coctails
      </h4>
      <div
        class="d-flex flex-wrap justify-content-around align-items-start align-self-start"
      >
        <app-coctail
          *ngFor="let item of listForm"
          [listCoctail]="item"
          class="app-coctail"
        >
        </app-coctail>
      </div>
    </div>
    <!-- <hr class="bg-white" /> -->
  </div>
</div>
