<div *ngIf="list">
  <div class="container text-white">
    <br />

    <div class="d-flex mob">
      <figure>
        <div>
          <h3>
            Name:
            <span class="">{{ list["strDrink"] }}</span>
          </h3>
          <img src="{{ list['strDrinkThumb'] }}" alt="coctail" />
        </div>
      </figure>
      <div>
        <!-- <app-ingredients></app-ingredients> -->
        <div class="card-text">
          <div class="text-center">
            <h4>Ingridients:</h4>
            <br />
          </div>
          <div class="d-flex flex-wrap justify-content-around">
            <div class="text-center ingredient">
              <img
                src="https://www.thecocktaildb.com/images/ingredients/{{
                  list?.strIngredient1
                }}-Medium.png"
                alt=""
              />
              <span>{{ list.strIngredient1 }}</span>
              {{ list.strMeasure1 }}
            </div>
            <div
              *ngIf="list.strIngredient2 !== null"
              class="text-center ingredient"
            >
              <img
                src="https://www.thecocktaildb.com/images/ingredients/{{
                  list?.strIngredient2
                }}-Medium.png"
                alt=""
              />
              <span>{{ list?.strIngredient2 }}</span>
              {{ list?.strMeasure2 }}
            </div>
            <div
              *ngIf="list.strIngredient3 !== null"
              class="text-center ingredient"
            >
              <img
                src="https://www.thecocktaildb.com/images/ingredients/{{
                  list.strIngredient3
                }}-Medium.png"
                alt=""
              />
              <span>{{ list.strIngredient3 }}</span>
              {{ list?.strMeasure3 }}
            </div>
            <div
              *ngIf="list.strIngredient4 !== null"
              class="text-center ingredient"
            >
              <img
                src="https://www.thecocktaildb.com/images/ingredients/{{
                  list.strIngredient4
                }}-Medium.png"
                alt=""
              />
              <span>{{ list.strIngredient4 }}</span>
              {{ list?.strMeasure4 }}
            </div>
            <div
              *ngIf="list.strIngredient5 !== null"
              class="text-center ingredient"
            >
              <img
                src="https://www.thecocktaildb.com/images/ingredients/{{
                  list.strIngredient5
                }}-Medium.png"
                alt=""
              />
              <span>{{ list.strIngredient5 }}</span>
              {{ list?.strMeasure5 }}
            </div>
            <div
              *ngIf="list.strIngredient6 !== null"
              class="text-center ingredient"
            >
              <img
                src="https://www.thecocktaildb.com/images/ingredients/{{
                  list.strIngredient6
                }}-Medium.png"
                alt=""
              />
              <span>{{ list.strIngredient6 }}</span>
              {{ list?.strMeasure6 }}
            </div>
            <div
              *ngIf="list.strIngredient7 !== null"
              class="text-center ingredient"
            >
              <img
                src="https://www.thecocktaildb.com/images/ingredients/{{
                  list.strIngredient7
                }}-Medium.png"
                alt=""
              />
              <span>{{ list.strIngredient7 }}</span>
              {{ list?.strMeasure7 }}
            </div>
            <div
              *ngIf="list.strIngredient8 !== null"
              class="text-center ingredient"
            >
              <img
                src="https://www.thecocktaildb.com/images/ingredients/{{
                  list.strIngredient8
                }}-Medium.png"
                alt=""
              />
              <span>{{ list.strIngredient8 }}:</span>
              {{ list?.strMeasure8 }}
            </div>

            <!-- <app-ingredients> </app-ingredients> -->
          </div>
        </div>
      </div>
    </div>
    <p>#{{ list.strTags }}</p>
    <p>{{ list.strInstructions }}</p>
  </div>
</div>
