<footer class="app-footer">
  <div class="container d-flex justify-content-around flex-wrap">
    <div class="d-flex">
      <span class="text-light d-flex" style="font-size: 14px;"
        >© 2020 TheCocktailDB. Powered by:
        <img src="https://www.thecocktaildb.com/images/icons/php7.png" alt="" />
      </span>
    </div>
    <div class="d-flex flex-wrap">
      <img src="https://www.thecocktaildb.com/images/logo-tsdb.png" alt="" />
      <img src="https://www.thecocktaildb.com/images/logo-tadb.png" alt="" />
      <img src="https://www.thecocktaildb.com/images/logo-tmdb.png" alt="" />
    </div>
    <div class="d-flex flex-wrap">
      <a routerLink="missing">Missing</a>
      <a routerLink="about">About</a>
      <a routerLink="faq">Faq</a>
      <a routerLink="contact">Contact</a>
    </div>
  </div>
</footer>
