.app-footer {
    background-color: rgb(29, 0, 13);
    min-height: 100px;
    // border: 1px solid red;
    margin-top: -105px;
    padding: 30px 0;
    a {
        color: azure;
        margin: 3px 6px;
        &:hover {
            color: red;
            transition: 0.8s;
            text-decoration: none;
        }
    }
    img {
        margin: 3px;
    }
    span {
        margin: 10px 3px;
        img {
            margin: 0;
        }
    }
}
