<div class="app-faq text-white">
  <br />
  <img
    src="https://www.thecocktaildb.com/images/faq.png"
    alt=""
    class="mx-auto"
  />
  <br />
  <p>How do I add a cocktail?</p>
  <p>
    Only Patreon supporters can add new cocktails. The link is on Patreon as a
    news item. Just make sure you have a nice large JPG image to upload after
    you add them.
  </p>
  <br />
  <p>How do I apply for an API key?</p>
  <p>
    If you are a developer, then you can use the test api key of '1' to get
    started.
  </p>
  <p>
    Once you have written your app you can support us on Patreon and apply for a
    production API key via email. API keys usually take 24hrs.
  </p>
  <br />
  <p>How do I upload an image?</p>
  <p>
    Just click the red upload image button and upload a picture that is square
    dimensions. We recomend 700x700 size.
  </p>
  <br />
  <p>Are there any limits on the API?</p>
  <p>No limits, the API is unlimited usage.</p>
  <br />
  <p>I'm have a commercial app, can I use the database?</p>
  <p>
    Yes! But we expect you to sign up on Patreon. We are non-profit and all
    support goes towards the site.
  </p>
</div>
